<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Angebote{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-gold"></div>
{% endblock %} {% block content %} {% load static %} {% if angebot %}
<header class="angebot">
  <h1 class="heading">{{angebot.name}}</h1>
  <h2 class="sub__heading">{{angebot.subtitel}}</h2>
  <p>{{angebot.kurzbeschrieb}}</p>
</header>

<figure>
  <div class="hero">
    <video
      class="[ video__bg ] [ full-bleed ] [ feature-figure ]"
      autoplay
      muted
      loop
    >
      <source src="https://hochebene.ch/karten_werk_videos/{{angebot.video}}" />
      type="video/mp4" />
    </video>
  </div>
</figure>
<header class="angebot">
  <h2 class="heading">{{angebot.cards_titel}}</h2>
  <p>{{angebot.cards_beschrieb}}</p>
</header>
<div class="card-grid {% if angebot.cards.all|length == 1 %}full-width{% endif %}">
  {% for card in angebot.cards.all %}
  <div class="card {% if angebot.cards.all|length == 1 %}full-width{% endif %}">
    <iframe
      class="video"
      src="https://www.youtube.com/embed/{{card.video}}"
      title="{{card.titel}}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <div class="card-header">{{card.titel}}</div>
    <section class="meta">
      <div class="meta-date">{{card.metadaten}}</div>
      <div class="meta-kategorie">{{card.subtitel}}</div>
    </section>
    <div class="card-body">
      <p>{{card.kurzbeschrieb}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% if angebot.referenz_set.all %}
<header class="angebot">
  <h2 class="heading">Referenzen</h2>
  <p>Nachfolgend finden Sie eledigte Aufträge zum Angebot {{angebot.name}}.</p>
</header>
<div class="card-grid-referenzen">
  {% for referenz in angebot.referenz_set.all %}
  <!-- prettier-ignore -->
  <div class="card-referenzen">
    <h2>{{referenz.titel}}</h2>
   
    <section class="kurzbeschrieb-ref">{{referenz.kurzbeschrieb}}</section>
    {% if referenz.bild %}
    <!-- <h4 class="referenz__title">Hier eine kleine Projektübersicht</h4> -->
    <img class="card-referenzen-img" src="{% static 'kartenwerk/img/'|add:referenz.bild %}" />
    {% endif %}
    {% if referenz.video %}
    
      <iframe
        class="video"
        src="https://www.youtube.com/embed/{{referenz.video}}"
        title="{referenz.titel}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
   
    {% endif %}
    <div class="button-container">
        <a href="{% url 'kartenwerk:referenzen' %}">
          <button class="[ button ] [ button-secondary ]" role="button">
            Alle Referenzen
          </button>
        </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<h2 class="heading">Preise</h2>
<p>
  Nachfolgend finden Sie Preisinformationen zum Angebot {{angebot.name}}. Für
  individuelle Wünsche können wir jederzeit einen massgeschneiderten Auftrag
  gemäss Ihren Wünschen zusammenstellen.
</p>

<section class="wrapper__price-comparison">
  <div class="price-comparison">
    {% for preisplan in angebot.preise.all %}
    <div class="price-column {% if preisplan.popular %}popular {% endif %}">
      <div class="price-header">
        <div class="price">
          <div class="chf-sign">CHF</div>
          {{preisplan.preis}}
          <div class="pro-ha">/{{preisplan.einheit}}</div>
        </div>
        <div class="plan-name">{{preisplan.name}}</div>
      </div>
      <div class="divider"></div>
      <section class="price-feature">
      {% for feature in preisplan.features.all %}
      <div class="feature">
        <img src="{% static 'kartenwerk/img/check-circle.svg' %}" />
        {{feature.name}}
      </div>
      {% endfor %}
      </section>
      <div class="button-container">
        <a href="{% url 'kartenwerk:preisplan_message' angebot_id=angebot.id preisplan_id=preisplan.id %}">
          <button class="[ button ] [ button-secondary ] [ button-stretched ]" role="button">
            Jetzt buchen
          </button>
        </a>
      </div>
    </div>
    {%endfor %}
  </div>
</section>

  <section>
    {% if angebot.testimonial_set.all %}
    <h2 class="heading">Das sagen unsere Kunden</h2>
    {% for testimonial in angebot.testimonial_set.all %}
    <blockquote class="blockquote__testimonial blockquote--bordered">
      <div>
        <img
          class="testimonial__logo"
          src="{% static 'kartenwerk/img/'|add:testimonial.stakeholder.logo %}"
          alt="logo"
        />
      </div>

      <div class="blockquote__text blockquote--quoted">
        {{testimonial.text}}
      </div>

      <div class="blockquote__credit">
        <i class="blockquote__text--credit">
          {{testimonial.stakeholder.vorname}} {{testimonial.stakeholder.name}}
          ({{testimonial.stakeholder.position}})<br />
          {{testimonial.stakeholder.firma}}
        </i>
      </div>
    </blockquote>

    {% endfor%} {% endif %}
  </section>
  {% else %}
  <p>Es ist kein Angebot vorhanden</p>
  {% endif %} {% endblock %} {% block borderbottom %}
  <div class="site-head__bordertop-gold"></div>
  {% endblock %}
</div>
