<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Angebote{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header class="angebot">
  <h1 class="heading">Angebot</h1>
  <h2 class="sub__heading">
    Progressive Web Apps, Geoinformatik und Fernerkundung "Made in Switzerland".
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum natus
    distinctio, harum vitae modi quidem voluptatibus rem dicta perspiciatis, at
    dolorum error expedita corporis nisi quia vel molestias iure nulla quis
    dolor velit voluptatem iusto itaque? Necessitatibus, veniam aliquid, magnam
    autem suscipit aperiam illo omnis recusandae facere rerum ab nam.
  </p>
</header>
{% if angebote %}
<div class="card-grid">
  {% for angebot in angebote %}
  <div class="card">
    <div class="card-img">
      <img
        src="{% static 'kartenwerk/img/'|add:angebot.bild %}"
        width="1000"
        height="538"
        alt="Angebote von Karten-Werk" />
    </div>
    <div class="card-header">
      {{ angebot.name }}<br /><small>{{angebot.subtitel}}</small>
    </div>
    <div class="angebot-kurzbeschrieb">{{angebot.kurzbeschrieb}}</div>

    <div class="card-footer">
      <div class="button-container">
        <a href="{% url 'kartenwerk:angebot_detail' angebot.id %}">
          <button class="[ button ] [ button-primary ]" role="button">
            Mehr Infos
          </button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Es sind keine Angebote vorhanden</p>
{% endif %} {% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
