<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Blog{% endblock %} 

{% block content %}
{% load static %}
<header class="angebot">
  <h1 class="heading">Blog</h1>
  <h2 class="sub__heading">
    Nachfolgend finden sie eine Übersicht über unsere Blogbeiträge.
  </h2>
</header>
{% for post in blogposts %}

<main class="blog__grid">
  <section class="blog__card">
    <div class="blog__card-header">
      <img src="{% static 'kartenwerk/img/'|add:post.teaser_img %}" />
    </div>
    <div class="blog__card-body">
      <h2><a href="{{post.url}}">{{post.titel}}</a></h2>
      <div>Datum: {{post.datum}}</div>
      <div>
        Posted by: {{post.verfasser.name}} {{post.verfasser.vorname}}
        ({{post.verfasser.position}})
      </div>
    </div>
    <div class="blog__card-footer">
      <h4>Kurzbeschrieb</h4>
      <div>{{post.kurzbeschrieb}}</div>
      <a href="{{post.url}}">{{post.url}}</a>
    </div>
  </section>
</main>
{% endfor %} {% endblock %}
