<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %}Kontakt{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-gold"></div>
{% endblock %} {% block content %} {% load static %} {% if email_error %}
<h3 class="error">{{email_error}}</h3>
{% endif %}

<div>
  <h1 class="heading">Kontakt</h1>
  <address class="contact__address">
    Karten-Werk GmbH <br />
    Hofstrasse 87<br />
    8620 Wetzikon.<br />
    +41 79 360 72 83 | hkfrei(at)karten-werk.ch
  </address>
  <h2>Unser Standort</h2>
  <div id="contact__map"></div>
  <h2>Hinterlassen sie uns eine Nachricht</h2>
  <section class="contact-form">
    <form action="" method="post">
      {% csrf_token %} {{ form.non_field_errors }}
      <div>{{ form.name.label_tag }}</div>
      <div>{{ form.name }}</div>
      <div>{{ form.vorname.label_tag }}</div>
      <div>{{ form.vorname }}</div>
      <div>{{ form.email.label_tag }}</div>
      <div>{{ form.email }}</div>
      <div>{{ form.nachricht.label_tag }}</div>
      <div>{{ form.nachricht }}</div>

      <!-- back and save buttons -->
      <div class="button-wrapper">
        <div class="button-container">
          <a
            href="{% url 'kartenwerk:index' %}"
            class="[ button ] [ button-secondary ]"
            role="button"
          >
            Zurück
          </a>
        </div>
        <div class="button-container">
          <button
            class="[ button ] [ button-secondary ]"
            type="submit"
            role="button"
          >
            Senden
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-gold"></div>
<script type="module" src="{% static 'kartenwerk/js/googleMap.mjs' %}"></script>
{% endblock %}
