<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Index {% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header>
  <h1 class="heading">Willkommen bei Karten-Werk.</h1>
  <h2 class="sub__heading">
    Wir sind die Hardwaterbrothers und Karten-Profis!
  </h2>
</header>
<main>
  <section class="column">
    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'kartenwerk/img/HKF_portrait_green.png' %}"
          alt="Profilbild HKF"
        />
        <span class="names">
          <h4>Hanskaspar Frei</h4>
          <blockquote>Gründer und Inhaber Karten-Werk GmbH</blockquote>
        </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit
        itaque fugiat, suscipit perferendis impedit sapiente nisi ut, alias
        facere cupiditate consequuntur ab et optio dolorum rem aliquid neque
        aperiam amet dolores beatae? Exercitationem temporibus vitae doloremque
        magnam tenetur quia quam enim itaque consectetur aperiam, commodi rem
        eos, culpa voluptatibus!
      </p>
    </div>

    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'kartenwerk/img/DSC_portrait_green.png' %}"
          alt="Profilbild DSC"
        />
        <span class="names">
          <h4>David Schaer</h4>
          <blockquote>Design und Cinematographie</blockquote>
        </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sit
        itaque fugiat, suscipit perferendis impedit sapiente nisi ut, alias
        facere cupiditate consequuntur ab et optio dolorum rem aliquid neque
        aperiam amet dolores beatae? Exercitationem temporibus vitae doloremque
        magnam tenetur quia quam enim itaque consectetur aperiam, commodi rem
        eos, culpa voluptatibus!
      </p>
    </div>
  </section>

  <figure>
    <div class="hero">
      <video
        class="[ video__bg ] [ full-bleed ] [ feature-figure ]"
        autoplay
        muted
        loop
      >
        <source
          src="{% static 'kartenwerk/video/drohnenflug_uetliberg.mp4' %}"
          type="video/mp4"
        />
      </video>
    </div>
  </figure>
  <div class="offer">
    <h2 class="heading">Wir sind die Karten-Profis.</h2>
    <h3 class="[ sub__heading ] [ h3__offer ]">
      Web Mapping Applikationen und Fernerkundung mit Drohne.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia,
      iure officiis ipsum deleniti sint molestias atque sit fugiat. Earum!Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia, iure
      officiis ipsum deleniti sint molestias atque sit fugiat.
    </p>
    <div class="button-container-main">
      <a href="{% url 'kartenwerk:angebot' %}">
        <button class="[ button ] [ button-primary ]" role="button">
          Zu den Angeboten
        </button>
      </a>
    </div>
    <!-- <a href="{% url 'kartenwerk:angebot' %}">
      <button class="offer">Zu den Angeboten</button>
    </a> -->
  </div>
</main>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
