<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Kontakt{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-red"></div>
{% endblock %} {% block content %} {% load static %}
<header class="angebot">
  <h1 class="heading">Danke für Ihre Nachricht!</h1>
  <h2 class="sub__heading">Wir werden uns in Kürze bei ihnen melden.</h2>
</header>
<div><strong>Ihre Angaben:</strong></div>
<main>
  Name: {{message.name}}<br />
  Vorname: {{message.vorname}}<br />
  E-Mail: {{message.email}}<br />
  Nachricht: {{message.nachricht}}<br />
  Angebot: {{message.angebot.name}} <br />
  Preisplan: {{message.preisplan.name}} <br />

  <!-- back button -->

  <div style="margin: 20px 0">
    <a
      href="{% url 'kartenwerk:angebot_detail' message.angebot.id %}"
      class="btn"
    >
      Zurück zum Angebot
    </a>
  </div>
</main>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-red"></div>
{% endblock %}
