<!-- prettier-ignore -->

{% extends "kartenwerk/base.html" %} 

{% block title %} Referenzen{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header class="angebot">
  <h1 class="heading">Referenzen</h1>
  <h2 class="sub__heading">Nachfolgend finden Sie eine Auswahl unserer Projekte</h2>
</header>
<div class="card-grid {% if angebot.cards.all|length == 1 %}full-width{% endif %}">
  {% for referenz in referenzen %}
  <!-- prettier-ignore -->

  <div class="card {% if angebot.cards.all|length == 1 %}full-width{% endif %}">
    <h2>{{referenz.titel}}</h2>
    
    <div class="wrapper__card-referenzen">
      <div>
        <img
          class="stakeholder__logo"
          src="{% static 'kartenwerk/img/'|add:referenz.stakeholder.logo %}"
          alt="logo"
        />
      </div>
      <div class="testimonial">
        <i class="card-ref__text-credit">
          {{referenz.stakeholder.vorname}} {{referenz.stakeholder.name}}
          ({{referenz.stakeholder.position}})<br />
          {{referenz.stakeholder.firma}}
        </i>
      </div>
    </div>
    <section class="kurzbeschrieb-ref">{{referenz.kurzbeschrieb}}</section>
    {% if referenz.bild %}
    <img
      class="card-referenzen-img"
      src="{% static 'kartenwerk/img/'|add:referenz.bild %}"
    />
    {% endif %}
    {% if referenz.video %}

    <iframe
      class="video"
      src="https://www.youtube.com/embed/{{referenz.video}}"
      title="{{card.titel}}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    {% endif %}
    
  </div>
  {% endfor %}
</div>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
