footer {
	margin-top: auto;
	background-color: var(--clr-dark);
	border-top: 5px solid var(--clr-primary);
	transition: background .3s linear;
}

.container {
	max-width: 1200px;
	padding: 1.5rem 3rem;
	margin: auto;
	outline: #88c4c9;
}

.content__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.profil .logo__area {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.profil .logo__area img {
	width: 50px;
}

.logo__area .logo__name {
	font-size: 1rem;
	font-weight: 500;
	margin-left: 1rem;
	color: rgb(245, 245, 245);
}

.desc__area {
	max-width: 320px;
	margin-bottom: 1.25rem;
}

.desc__area p {
	color: rgb(245, 245, 245);
	font-weight: 300;
	font-size: .8rem;
	line-height: 26px;
}

.social__media a {
	color: #f2f2f2;
	margin-right: 20px;
	font-size: 1.5rem;
}

.social__media a:hover {
	color: var(--clr-primary);
}

.nav__area {
	display: flex;
}

.nav__header {
	margin-right: 3rem;
}

li.nav__name {
	color: white;
	font-weight: 500;
	font-size: 1rem;
}

.nav__header li a {
	color: #f2f2f2;
	padding-bottom: 1px;
	font-size: .9rem;
	font-weight: 300;
}

.nav__header li {
	margin-bottom: 10px;
}

.nav__header li a:hover {
	color: var(--clr-primary);
}

hr {
	height: 1px;
	border: none;
	background-color: #f2f2f2;
	margin-bottom: 1rem;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .85rem;
}

.copy__right {
	display: flex;
	align-items: center;
	color: #f2f2f2;
}

.copy__right span {
	margin-left: 8px;
	font-weight: 200;
	font-size: .7rem;
}

.tou a {
	color: #f2f2f2;
	margin-left: 1.5rem;
	font-size: .7rem;
}

@media screen and (max-width: 775px) {
	.content__footer {
		flex-wrap: wrap;
		justify-content: left;
	}

	.nav__area {
		flex-wrap: wrap;
		justify-content: left;
	}

	.nav__header {
		margin-left: 0;
		margin-right: 40px;
		padding-left: 0;
	}

	.social__media {
		margin-bottom: 1rem;
	}

	.footer__bottom {
		flex-wrap: wrap;
		justify-content: center;
	}
	.tou {
		display: none;
	}
}
