<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Über uns{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %}
  {% load static %}
  <h1 class="heading">De Chäppu und de Dävu</h1>
  <h2 class="sub__heading">
    Vom Orientierungslauf in der 4. Klasse zu Karten-Werk.
  </h2>


   <section class="column">
    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'multimediawerk/img/portrait_david.webp' %}"
          alt="Profilbild DSC"
          width="120"
          height="120" />
        <span class="names">
          <div class="profil__name">David Schaer</div>
          <blockquote>Design und Cinematographie</blockquote>
        </span>
      </div>
      <p>
        Ich bin David - für Bild, Video, Design und Marketing verantwortlich. Ursprünglich gelernter Fotograf, habe ich ich meine
        Kenntnisse der Bildgestaltung ins digitale Zeitalter transferiert und
        erstelle Videocontent und style Webseiten. Als zertifizierter
        Digital Marketing Specialist weiss ich, dass die Grenzen zwischen
        Contentproduktion und Marketing immer mehr verwischen - ein Fotograf,
        wie auch ein Grafik- und Webdesigner muss heute wissen, ob sein Produkt performed oder eben nicht.
        <br />
      
    </div>

    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'multimediawerk/img/portrait_chap.webp' %}"
          alt="Profilbild HKF"
          width="120"
          height="120" />
        <span class="names">
          <div class="profil__name">Hanskaspar Frei</div>
          <blockquote>Gründer und Inhaber Karten-Werk GmbH</blockquote>
        </span>
      </div>
      <p>
       Ich bin Hanskaspar - ein Web- und GIS Entwickler bei Karten-Werk. Neben meiner Leidenschaft für Geodaten, gilt mein Interesse der nachhaltigen Sofwareentwicklung. Für micht bedeutet dies, das Entwickeln von Software, welche klar strukturiert (Architektur), skalierbar, testbar und performant ist.

In meiner Freizeit treibe ich gerne Sport und bin mit dem Velo oder per Wanderschuhe in unseren Alpen unterwegs.
      </p>
    </div>
  </section>

    <figure class="[ full-bleed ] [ hero-figure ]">
      <img
        src="{% static 'multimediawerk/img/about_paris.webp' %}"
        alt="Herobild About"
      />
  </figure>


  <section class="text-top">
    <h2 class="heading_margin-top">Die Anfänge</h2>
  <p>
    Als 10 jährige Knirpse trafen die beiden in der 4. Klasse zum ersten mal
    aufeinander. Schnell entdeckten sie ihre gemeinsame Freude für sämtliche
    sportlichen Aktivitäten - ob die Jagd nach dem Schulrekord für den 12' Lauf,
    den ersten Platz bei den regionalen Orientierungsläufen, oder einfach nur
    Hockey spielen auf dem zugefrorenen Teich (ja, das durften die Kinder früher noch) - Chäppu und Dävu waren stets zusammen anzutreffen und konnten im
    Turnuntericht nur im Zweierpack gewählt werden. Auch als sie älter wurden,
    bremste dies ihre Abenteuerlust nicht ein - sie paddelten im Kayak die
    Reuss hinunter, schleppten Snowboard und Skier eigenhändig die Berge hoch,
    um in unbefahrenem Neuschnee zu kurven und verbrachten - halbberuflich - sogar ein paar Wochen zusammen in den USA.
  </p>

  

    <h2 class="heading_margin-top">Gemeinsam bei Karten-Werk</h2>
    <p>
    Heute, knapp 40 Jahre später: Hanskaspar hat sich mit seiner umfassenden
    Kenntnis von hochpräzisem Kartenmaterial einen Namen gemacht und wird von seinen Auftraggebern so geschätzt, weil er Wald und Natur ganz genau kennt und dieses Wissen mit seiner Leidenschaft für komplexe Datenmodelle und hochpräzisem Kartenmaterial verbindet.
     <br />
    <br />
    David hat einen Weg gefunden, seine Skills an der analogen Kamera ins digitale Zeitalter zu adaptieren und erstellt nun Grafiken, Logos und Youtube-Videos. Sein Sinn für Farben und Formen hilft ihm heute, den komplexen Datenstrukturen von Hanskaspar einen visuellen Schliff zu verleihen.
    </p>
    <br />
 <!-- <figure class="[ full-bleed ] [ hero-figure ] [ feature-figure ]">
      <img
        src="{% static 'multimediawerk/img/about_ski.webp' %}"
        alt="Herobild About"
      />
  </figure> -->
  </section>
   
</div>


{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
