<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Über uns{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %}
  {% load static %}
  <h1 class="heading">De Chäppu und de Dävu</h1>
  <h2 class="sub__heading">
    Vom Orientierungslauf in der 4. Klasse zu Karten-Werk.
  </h2>
  <figure class="[ full-bleed ] [ hero-figure ]">
      <img
        src="{% static 'multimediawerk/img/Headerbild_About.webp' %}"
        alt="Herobild About"
      />
  </figure>

   <section class="column">
    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'multimediawerk/img/portrait_david.webp' %}"
          alt="Profilbild DSC"
          width="120"
          height="120" />
        <span class="names">
          <div class="profil__name">David Schaer</div>
          <blockquote>Design und Cinematographie</blockquote>
        </span>
      </div>
      <p>
        Ich bin David - für Bild, Video, Design und Marketing verantwortlich bei
        Karten-Werk. Ursprünglich gelernter Fotograf, habe ich ich meine
        Kenntnisse der Bildgestaltung ins digitale Zeitalter transferiert und
        erstelle Videocontent und style nun Webseiten. Als zertifizierter
        Digital Marketing Specialist weiss ich, dass die Grenzen zwischen
        Contentproduktion und Marketing immer mehr verwischen - ein Fotograf,
        wie auch ein Grafik- und Webdesigner muss heute wissen, ob sein Produkt
        performed oder eben nicht.
        <br />
        <br />
        In meiner Freizeit gehe ich gerne joggen oder versenke ein paar Bälle im
        Körbchen - zumindest im Sommer. Zudem mache ich gerne Musik und übe mich
        auf meiner elektrischen Gitarre im Lärmmachen.
      </p>
    </div>

    <div class="column__names">
      <div class="header__profil">
        <img
          class="profil__pic"
          src="{% static 'multimediawerk/img/portrait_chap.webp' %}"
          alt="Profilbild HKF"
          width="120"
          height="120" />
        <span class="names">
          <div class="profil__name">Hanskaspar Frei</div>
          <blockquote>Gründer und Inhaber Karten-Werk GmbH</blockquote>
        </span>
      </div>
      <p>
        Ich bin Hanskaspar - ein Web- und GIS Entwickler bei Karten-Werk. Meine
        Leidenschaft ist die Integration von Geodaten in die Web Plattform. Als
        erfahrener PHP-Engineer und Geoinformatiker bin ich in der Lage,
        komplexe Datenstrukturen, einfach und ökonomisch darzustellen. Zudem
        kenne ich als ehemaliger Forstwart die Flora und Fauna aus erster Hand
        und weiss auf welche Details ich mich achten muss, wenn wir die
        Drohnen-Daten auswerten.
        <br />
        <br />
        In meiner Freizeit bin ich begeisterter und leidenschaftlicher
        Radfahrer, der 3 Pässe zum Frühstück erledigt. Ich fahre auch gerne mal
        mit dem Velo kurzerhand an die Atlantikküste und wieder zurück - einfach
        weil ich es kann.
      </p>
    </div>
  </section>
  <section class="text-top">
    <h2>Die Anfänge</h2>
  <p>
    Als 10 jährige Knirpse trafen die beiden in der 4. Klasse zum ersten mal
    aufeinander. Schnell entdeckten sie ihre gemeinsame Freude für sämtliche
    sportlichen Aktivitäten - ob die Jagd nach dem Schulrekord für den 12' Lauf,
    den ersten Platz bei den regionalen Orientierungsläufen, oder einfach nur
    Hockey spielen auf dem zugefrorenen Teich (ja, das durften die Kinder früher noch) - Chäppu und Dävu waren stets zusammen anzutreffen und konnten im
    Turnuntericht nur im Zweierpack gewählt werden. Auch als sie älter wurden,
    bremste dies ihre Abenteuerlust nicht ein - sie paddelten im Kayak die
    Reuss hinunter, schleppten Snowboard und Skier eigenhändig die Berge hoch,
    um in unbefahrenem Neuschnee zu kurven und verbrachten - halbberuflich - sogar ein paar Wochen zusammen in den USA.
  </p>
  
<h2>Berufliche Entscheidungen</h2>
  <p>
    Beruflich wählte Hanskaspar den Weg des Forstwarts, was perfekt zu seinem
    Bewegungsdrang und seiner Liebe zur Natur passte. David wählte den
    körperlich weniger anstrengenden Weg des Fotografen. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eius id animi aperiam fuga aut.
  </p>
    <h2>Gemeinsam bei Karten-Werk</h2>
    <p>
    Heute, knapp 40 Jahre später: Hanskaspar hat sich mit seiner umfassenden
    Kenntnis von hochpräzisem Kartenmaterial einen Namen gemacht und wird von seinen Auftraggebern so geschätzt, weil er Wald und Natur ganz genau kennt und dieses Wissen mit seiner Leidenschaft für komplexe Datenmodelle und hochpräzisem Kartenmaterial verbindet.
     <br />
    <br />
    David hat einen Weg gefunden, seine Skills an der analogen Kamera ins digitale Zeitalter zu adaptieren und erstellt nun Grafiken, Logos und Youtube-Videos. Sein Sinn für Farben und Formen hilft ihm heute, den komplexen Datenstrukturen von Hanskaspar einen visuellen Schliff zu verleihen.
    </p>
    <br />


 
  </section>
</div>


{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
