<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Angebote{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header class="angebot">
  <h1 class="heading">Angebote</h1>
  <h2 class="sub__heading">
    Bewegende und bewegte Bilder, Web- und Suchmaschinen-optimiert.
  </h2>
  <p>
    Unsere Leistungen umfassen: Erstellung von professionellen Foto- und
    Videomaterialien, die Deine Marke und Botschaft widerspiegeln und Deine
    Zielgruppe begeistern werden. Content-Entwicklung, die Deine Marke
    positioniert, deine Botschaft vermittelt und deine Zielgruppe engagiert.
    Erstellung von einzigartigen Grafiken und Logos, die Deine Marke von der
    Konkurrenz abheben. SEO-Optimierung von Websites, einschliesslich
    Keyword-Recherche, On-Page-Optimierung und technischer SEO-Analyse.
    Erstellung von kleinen bis mittleren Webseiten, die benutzerfreundlich und
    optimiert sind, um Deine Zielgruppe anzusprechen und die Marke zu stärken.
  </p>
</header>
{% if angebote %}
<div class="card-grid">
  {% for angebot in angebote %}
  <div class="card">
    <div class="card-img">
      <img
        src="{% static 'multimediawerk/img/'|add:angebot.bild %}"
        width="1000"
        height="538"
        alt="Angebote von Karten-Werk" />
    </div>
    <div class="card-header">
      {{ angebot.name }}<br /><small>{{angebot.subtitel}}</small>
    </div>
    <div class="card-body">
      <div class="angebot-kurzbeschrieb">{{angebot.kurzbeschrieb}}</div>
    </div>
    <div class="card-footer">
      <!-- <a href="{% url 'multimediawerk:angebot_detail' angebot.id %}">
        <button class="[ button ] [ button-primary ]" role="button">
          Mehr Infos
        </button>
      </a> -->

      <a
        href="{% url 'multimediawerk:angebot_detail' angebot.id %}"
        class="button button-primary"
        >Mehr Infos</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Es sind keine Angebote vorhanden</p>
{% endif %} {% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
