<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Angebote{% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header class="angebot">
  <h1 class="heading">Angebote</h1>
  <h2 class="sub__heading">
    Wir bieten die Werkzeuge für Ihre Online-Präsenz.
  </h2>
  <p>
    Unser Webdesign- und Entwicklungsteam entwirft und entwickelt
    massgeschneiderte Websites und Anwendungen, die perfekt zu Ihrem Unternehmen
    passen. Wir berücksichtigen Ihre Ziele, Ihre Zielgruppe und Ihre Marke und
    sorgen dafür, dass Ihr Online-Auftritt genau das widerspiegelt, was Sie
    repräsentieren möchten. Wir bieten auch umfassende SEO-Optimierung, um
    sicherzustellen, dass Ihre Website von den richtigen Personen gefunden wird.
    <br />
    Unser Content Creation-Team kann Ihre Online-Präsenz durch ansprechende
    visuelle Inhalte verbessern. Wir bieten Fotografie- und
    Videografie-Dienstleistungen, Grafikdesign und Logo-Design,
    Drohnen-Aufnahmen und eine umfassende Content-Strategie. Wir werden Ihre
    Bilder und Videos professionell bearbeiten, um Ihre Marke zu repräsentieren
    und Ihnen zu helfen, Ihre Zielgruppe zu erreichen.
  </p>
</header>
{% if angebote %}
<div class="card-grid">
  {% for angebot in angebote %}
  <div class="card">
    <div class="card-img">
      <img
        src="{% static 'multimediawerk/img/'|add:angebot.bild %}"
        width="1000"
        height="538"
        alt="Angebote von Karten-Werk" />
    </div>
    <div class="card-header">
      {{ angebot.name }}<br /><small>{{angebot.subtitel}}</small>
    </div>
    <div class="card-body">
      <div class="angebot-kurzbeschrieb">{{angebot.kurzbeschrieb}}</div>
    </div>
    <div class="card-footer">
      <!-- <a href="{% url 'multimediawerk:angebot_detail' angebot.id %}">
        <button class="[ button ] [ button-primary ]" role="button">
          Mehr Infos
        </button>
      </a> -->

      <a
        href="{% url 'multimediawerk:angebot_detail' angebot.id %}"
        class="button button-primary"
        >Mehr Infos</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Es sind keine Angebote vorhanden</p>
{% endif %} {% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
