<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Index {% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}
<header>
  <h1 class="heading-main">Multimedia-Werk.</h1>
  <h2 class="sub__heading-main">
    Visuelle Lösungen für Unternehmen und Privatpersonen.
  </h2>
</header>

<main>
  <section class="hero">
    <div class="hero-container">
      <div class="hero-content">
        <h3 class="sub__heading">
          Photo- und Videographie, Content Creation, Webpages.
        </h3>
        <p>
          Wir können Ihnen dabei helfen, Ihre Ideen auf eine kreative und
          ansprechende Weise umzusetzen. Ob es um das Erstellen von
          atemberaubenden Fotos und Videos geht, das Erstellen von einfachen,
          statischen Webseiten oder das Entwerfen eines einzigartigen Logos für
          Ihr Unternehmen - wir stehen Ihnen gerne zur Verfügung und freuen uns
          auf Ihre Nachricht.
        </p>
        <div class="button-container-main">
          <a
            href="{% url 'multimediawerk:contact_message' %}"
            class="button-neon"
            >Kontakt</a
          >
          <a href="{% url 'multimediawerk:angebot' %}" class="button-neon"
            >Angebote</a
          >
        </div>
      </div>
      <div class="hero-img">
        <img
          src="{% static 'multimediawerk/img/Herosection_Mainpicture.webp' %}"
          alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
