<!-- prettier-ignore -->

{% extends "multimediawerk/base.html" %} 

{% block title %} Index {% endblock %} 
{% block bordertop %}
<div class="site-head__bordertop-default"></div>
{% endblock %} {% block content %} {% load static %}

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-KHJ3DP7LYH"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())

  gtag("config", "G-KHJ3DP7LYH")
</script>

<header>
  <h1 class="heading-main">Multimedia-Werk.</h1>
  <h2 class="sub__heading-main">Der One-Stop-Shop für digitale Lösungen.</h2>
</header>

<main>
  <section class="hero">
    <div class="hero-container">
      <div class="hero-content">
        <h3 class="sub__heading">
          Photo- und Videographie | Content Creation | Webdesign
        </h3>
        <p>
          Herzlich Willkommen bei Multimedia-Werk, Ihrem One-Stop-Shop für
          digitale Lösungen! Wir sind ein kleines aber feines Team bestehend aus
          einem GIS- und Webmapping-Spezialisten und einem Content Creator und
          bieten eine massgeschneiderte Palette von Dienstleistungen, um Ihre
          Online-Präsenz zu optimieren.
        </p>
        <div class="button-container-main">
          <a
            href="{% url 'multimediawerk:contact_message' %}"
            class="button button-primary"
            >Kontakt</a
          >
          <a
            href="{% url 'multimediawerk:angebot' %}"
            class="button button-primary"
            >Angebote</a
          >
        </div>
      </div>
      <div class="hero-img">
        <img
          src="{% static 'multimediawerk/img/Herosection_Mainpicture.webp' %}"
          alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block borderbottom %}
<div class="site-head__bordertop-default"></div>
{% endblock %}
